{% extends 'bootstrap/base.html' %}

<html>
    <head>
        <title>Trivia</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <dic>
            <a href="{{ url_for('public.index_trivia') }}">Inicio</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('auth.login') }}">Iniciar sesión</a>
            {% else %}
            <a href="{{ url_for('auth.logout') }}">Cerrar sesión</a> Usuario {{ current_user.name }}
            {% endif %}


        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>

</html>
